
<% if @resource.errors.any? %>
  <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4">
    <strong>There were some errors:</strong>
    <ul class="mt-2 list-disc list-inside text-sm">
      <% @resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@resource, as: @resource_name, url: registration_path(@resource_name), data: {turbo_frame: "signup_section"}) do |form| %>
    <div class="space-y-5 my-10 px-6 pt-6 pb-2 shadow-xl bg-white rounded-lg border-2 items-center border-blue-500 max-w-md mx-auto">

        <h2 class="text-3xl font-bold text-gray-800 text-center">Signup</h2>

        <!-- Full Name -->
        <div>
        <%= form.label :full_name, class: "block text-md font-semibold text-indigo-600" do%>
            Full Name<span class= "text-md text-red-600">*</span>
        <% end %>
        <%= form.text_field :full_name, autofocus: true, autocomplete: "name",
            class: "mt-1 block w-full px-2 py-1 h-11 rounded-md border-gray-300 focus:bg-blue-100 shadow-md focus:shadow-xl focus:outline-none ring-1 focus:ring-2 
                    focus:border-blue-500 focus:ring-blue-500 sm:text-md",
                    placeholder: "Your Name" %>
        </div>

        <!-- Email -->
        <div>
        <%= form.label :email, class: "block text-md font-semibold text-indigo-600" do %>
            Email Address<span class = "text-md fond-bold text-red-600">*</span>
        <% end %>
        <%= form.email_field :email, autocomplete: "email",
            class: "mt-1 block w-full px-2 py-1 h-11 rounded-md border-gray-300 focus:bg-blue-100 shadow-md focus:shadow-xl focus:outline-none ring-1 focus:ring-2 
                    focus:border-blue-500 focus:ring-blue-500 sm:text-md",
                    placeholder: "Example@gmail.com" %>
        </div>

        <!-- Phone Number -->
        <div>
        <%= form.label :phone_number,  class: "block font-semibold text-md text-indigo-600" do%>
           Phone Number<span class= "text-md text-red-600">*</span>
        <% end %>
        <%= form.telephone_field :phone_number, autocomplete: "tel",
            class: "mt-1 block w-full px-2 py-1 h-11 rounded-md border-gray-300 focus:bg-blue-100 shadow-md focus:shadow-xl focus:outline-none ring-1 focus:ring-2 
                    focus:border-blue-500 focus:ring-blue-500 sm:text-md",
            placeholder: "+92 300-1234567" %>
        </div>

        <!-- Password -->
        <div>
        <%= form.label :password,  class: "block font-semibold text-md text-indigo-600" do%>
            Password<span class= "text-md text-red-600">*</span>
        <% end %>
        <%= form.password_field :password, autocomplete: "new-password",
            class: "mt-1 block w-full px-2 py-1 h-11 rounded-md border-gray-300 focus:bg-blue-100 shadow-md focus:shadow-xl focus:outline-none ring-1 focus:ring-2 
                    focus:border-blue-500 focus:ring-blue-500 sm:text-md" %>
        </div>

        <!-- Password Confirmation -->
        <div>
        <%= form.label :password_confirmation,  class: "block font-semibold text-md text-indigo-600" do%>
            Confirm Password<span class= "text-md text-red-600">*</span>
        <% end %>
        <%= form.password_field :password_confirmation, autocomplete: "new-password",
            class: "mt-1 block w-full px-2 py-1 h-11 rounded-md border-gray-300 focus:bg-blue-100 shadow-md focus:shadow-xl focus:outline-none ring-1 focus:ring-2 
                    focus:border-blue-500 focus:ring-blue-500 sm:text-md" %>
        </div>

        <%= form.hidden_field :type, value: "Client" %>
        
        <div>
        <%= form.submit "Sign Up",
            class: "w-full py-2 px-4 bg-indigo-600 text-white rounded-md
                    hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500" %>
        </div>
        <div class = "mt-20 text-right">
            <span class = "text-sm">Already have an account? </span>
            <%= link_to "Login", new_user_session_path, class: "text-md text-indigo-500 underline" %>
        </div>
        

    </div>
<% end %>
