<div>
    <nav class="bg-white border-b border-gray-200">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center h-16">
            <!-- Logo -->
            <%= link_to root_path, class: "flex items-center space-x-2 " do %>
                <h1 class="text-2xl font-bold text-gray-900">Helpster</h1>
            <% end %>
            
            <!-- Navigation Links -->
            <div class="hidden md:flex items-center space-x-8">
            <% if current_user.type != "ServiceProvider" %>
            <%= link_to "Browse Services", categories_path %>          
            <%#= link_to "View All Users", all_users_path %>
            <% end %>
            <% if current_user.nil? || current_user.type != "ServiceProvider" %>
                <%= link_to "Join as Pro", new_user_registration_path(type: "ServiceProvider"),  
                class: "bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-md font-medium transition-colors",
                data: { turbo_frame: "signup_section" } %>
            <% else %>
                <%= link_to "Add Services", create_services_path,  
                class: "bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-md font-medium transition-colors",
                data: { turbo_frame: "_top" } %>
            <% end %>
                
                <% if user_signed_in? %>
                    <div class="grid-col-1 text-right space-x-4">
                    <p class="text-gray-700 text-md font-semibold">Welcome, <%= current_user.full_name %></p>
                    <div><%= button_to "Sign Out", destroy_user_session_path, 
                        method: :delete,
                        class: "text-gray-600 text-sm hover:text-gray-900 font-medium bg-transparent border-none cursor-pointer",
                        form: { style: "display: inline;" } %></div>
                    </div>
                <% else %>
                    <%= link_to "Sign In", new_user_session_path, 
                        class: "text-gray-600 hover:text-gray-900 font-medium",
                        data: {turbo_frame: "signup_section"} %>
                <% end %>
            </div>

            <!-- Mobile menu button -->
            <div class="md:hidden">
            <button class="text-gray-600 hover:text-gray-900">
                <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
            </button>
            </div>
        </div>
        </div>
    </nav>
</div>