
<div class="px-4 py-6">
  <h1 class="text-4xl text-center font-bold mb-16 mt-8">All Registered Users</h1>
  <div class="overflow-x-auto">
    <table class="min-w-full table-auto border border-gray-300">
      <thead class="bg-gray-200">
        <tr>
          <% ["Full Name", "Email", "Phone", "Type", "Category", "Experience", "Short Info", "Country", "Province", "City", "Address", "Subcategories"].each do |header| %>
            <th class="px-4 py-2 border text-left text-sm font-semibold text-gray-700 whitespace-nowrap"><%= header %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr class="hover:bg-gray-50">
            <td class="border px-4 py-2 whitespace-nowrap"><%= user.full_name %></td>
            <td class="border px-4 py-2 whitespace-nowrap"><%= user.email %></td>
            <td class="border px-4 py-2 whitespace-nowrap"><%= user.phone_number %></td>
            <td class="border px-4 py-2 whitespace-nowrap"><%= user.type %></td>
            <td class="border px-4 py-2 whitespace-nowrap"><%= user.category %></td>
            <td class="border px-4 py-2 whitespace-nowrap"><%= user.experience_years %></td>
            <td class="border px-4 py-2 whitespace-nowrap"><%= user.short_info %></td>
            <td class="border px-4 py-2 whitespace-nowrap"><%= user.country %></td>
            <td class="border px-4 py-2 whitespace-nowrap"><%= user.province %></td>
            <td class="border px-4 py-2 whitespace-nowrap"><%= user.city %></td>
            <td class="border px-4 py-2 whitespace-nowrap"><%= user.address %></td>
            <td class="border px-4 py-2 whitespace-nowrap"><%= user.subcategories.join(", ") if user.subcategories.present? %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
