<!-- Separate form for province selection -->

<div class="space-y-5 my-10 px-6 pt-6 pb-2 shadow-xl bg-white rounded-lg border-2 border-blue-500 max-w-md mx-auto">
<%= form_with url: location_form_path, data: {turbo_stream: true}, method: :get, local: false do |province_form| %>
  
  <h2 class="text-3xl font-bold text-gray-800 text-center">Location Details</h2>  
  <div>
  
    <%= province_form.label :province, class: "block text-md font-semibold text-indigo-600" do %>
      Province<span class="text-md text-red-600">*</span>
    <% end %>

    <%= province_form.select :province, 
    options_for_select([["Select Province", ""]] + @provinces.map { |p| [p, p] }, @selected_province), 
    {}, 
    {
      class: "mt-1 block w-full px-2 py-2 h-11 rounded-md border-gray-300 shadow-md focus:bg-blue-100 focus:shadow-xl focus:outline-none ring-1 focus:ring-2 focus:border-blue-500 focus:ring-blue-500 sm:text-md",
      id: "province_select",
      onchange: "this.form.requestSubmit()"
    } %>
  </div>
<% end %>

<!-- Main form for location submission -->
<%= form_for :user, url: update_location_path, method: :patch, local: true do |form| %>  
    

    <!-- City -->
    <div>
      <%= turbo_frame_tag "cities_frame" do %>
        <%= render partial: "service_providers/cities_dropdown", locals: { cities: @cities } %>
      <% end %>
    </div>

    <!-- Address -->
    <div>
      <%= form.label :address, class: "block text-md font-semibold text-indigo-600" do %>
        Exact Address<span class="text-md text-red-600">*</span>
      <% end %>
      <%= form.text_area :address, rows: 3,
          placeholder: "Street No. / Area / Nearby Landmark...",
          class: "mt-1 block w-full px-2 py-2 rounded-md border-gray-300 shadow-md focus:bg-blue-100 focus:shadow-xl focus:outline-none ring-1 focus:ring-2 focus:border-blue-500 focus:ring-blue-500 sm:text-md" %>
    </div>

    <!-- Submit Button -->
    <div class="pt-4">
      <%= form.submit "Save Location", 
          class: "w-full bg-indigo-600 hover:bg-indigo-700 text-white font-semibold py-3 px-4 rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition duration-200 ease-in-out transform hover:scale-105" %>
    </div>


    <% end %>

      </div>